*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: @white;

    font-family: Roboto;
}

a{
    text-decoration: none;
    color: @white;
    font-weight: bold;
}

button{
    outline: none;
    color: @white;
    font-weight: bold;
    cursor: pointer;
}
ul{
    list-style: none;
}